<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br> 
            <h1> Edit Listing </h1>

            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" id="title" class="form-control" value="<%= listing.title %>" required>
                </div>
            
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" id="description" class="form-control" required><%= listing.description %></textarea>
                </div>
            
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" name="listing[price]" id="price" class="form-control" value="<%= listing.price %>" required>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>    
                        <input type="text" name="listing[country]" id="country" class="form-control" value="<%= listing.country %>" required>
                    </div>
                </div>

                <div class="mb-3">
                    Original Image:
                    <% console.log(listing.image.url) %>
                    <img src="<%= originalImageUrl %>" alt="image"/>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image:</label>
                    <input type="file" name="listing[image]" id="image" class="form-control" value="<%= listing.image.url %>">
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" id="category" name="listing[category]" required>
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="mountain">Mountain</option>
                        <option value="castles">Castles</option>
                        <option value="amazing pools">Amazing Pools</option>
                        <option value="camping">Camping</option>
                        <option value="farm">Farms</option>
                        <option value="arctic">Arctic</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]" id="location" class="form-control" value="<%= listing.location %>" required>
                </div>
            
                <div>
                    <button type="submit" class="btn btn-dark edit-btn">Edit</button>
                </div>
                <a href="/listings/<%= listing._id %>" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
