<% layout('layouts/boilerplate') %>
<script>
    let mapToken = "<%= process.env.MAP_TOKEN %>";
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    const t = <%- JSON.stringify(listing.title) %>
</script>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <hr>

        <div class="card" style="width: 100%">
            <h1><%= listing.title %></h1>

            <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
            <div class="card-body">
            <p class="card-text">
                <p> <i> Owned by <%= listing.owner.username %> </i> </p>
                <p><%= listing.description %></p>
                <p>Price: &#8377;<%= listing.price.toLocaleString("en-IN") %> per night</p>
                <p>location : <%= listing.location %></p>
                <p>Country : <%= listing.country %></p>
            </p>
            </div>
        </div>

        <% if (currentUser && currentUser._id.equals(listing.owner._id)) { %>
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-dark">Delete</button>
            <br>
            <br>
        <% } %>
            <hr>
            
        </form>
        </div>

        <div class="col-8 offset-2">
            <% if(currentUser) { %>

            <h3>Add a Review</h3>
            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    
                    <div class="invalid-feedback">Please add rating.</div>

                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                    <div class="invalid-feedback">Please add some comment.</div>
                </div>
                <button type="submit" class="btn btn-dark">Submit Review</button>
                <br><br>
            </form>
            <hr>

            <% } %>


            <h3>Reviews</h3>
            <% if (listing.reviews.length > 0) { %>
                <% listing.reviews.forEach(function(review) { %>
                    <div class="card mb-3 border p-2">
                        <div class="card-body">
                            <h5 class="card-text"><%= review.author.username %></h5>
                            <p class="card-text starability-result" data-rating="<%= review.rating %>"></p>
                            <p class="card-text"><%= review.comment %></p>
                            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-dark btn-sm">Delete</button>
                            </form>  
                        </div>
                    </div>

                <% }); %>
            <% } else { %>
                <p>No reviews yet.</p>
            <% } %>
            <hr>

        </div>
                   
        <div class="col-8 offset-2">
            <h3>Where you'll be</h3>
            <div id="map"></div>
                    
        </div>
    </div>    
</body>
<script src="/js/map.js"></script>